<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_efx10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,63}</string>
                <key>spriteSourceSize</key>
                <string>{61,63}</string>
                <key>textureRect</key>
                <string>{{70,710},{61,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb_efx11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,71}</string>
                <key>spriteSourceSize</key>
                <string>{75,71}</string>
                <key>textureRect</key>
                <string>{{149,585},{75,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_efx12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,67}</string>
                <key>spriteSourceSize</key>
                <string>{63,67}</string>
                <key>textureRect</key>
                <string>{{1,658},{63,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb_efx13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{145,658},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eat_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,65}</string>
                <key>spriteSourceSize</key>
                <string>{97,65}</string>
                <key>textureRect</key>
                <string>{{1,461},{97,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_bomb20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{118,773},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_bomb21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,51}</string>
                <key>spriteSourceSize</key>
                <string>{50,51}</string>
                <key>textureRect</key>
                <string>{{66,773},{50,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_bomb22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{92,542},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_bomb23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,53}</string>
                <key>spriteSourceSize</key>
                <string>{55,53}</string>
                <key>textureRect</key>
                <string>{{88,655},{55,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_hit2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,40}</string>
                <key>spriteSourceSize</key>
                <string>{43,40}</string>
                <key>textureRect</key>
                <string>{{109,361},{43,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{168,733},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_hit0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{109,406},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_hit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{164,267},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_hit2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,96}</string>
                <key>spriteSourceSize</key>
                <string>{102,96}</string>
                <key>textureRect</key>
                <string>{{151,347},{102,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire_hit3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,98}</string>
                <key>spriteSourceSize</key>
                <string>{106,98}</string>
                <key>textureRect</key>
                <string>{{1,361},{106,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_buff0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,39}</string>
                <key>spriteSourceSize</key>
                <string>{161,39}</string>
                <key>textureRect</key>
                <string>{{1,239},{161,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_buff1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,39}</string>
                <key>spriteSourceSize</key>
                <string>{160,39}</string>
                <key>textureRect</key>
                <string>{{1,280},{160,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_buff2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,39}</string>
                <key>spriteSourceSize</key>
                <string>{185,39}</string>
                <key>textureRect</key>
                <string>{{1,115},{185,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_buff3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,40}</string>
                <key>spriteSourceSize</key>
                <string>{176,40}</string>
                <key>textureRect</key>
                <string>{{1,197},{176,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_buff4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,39}</string>
                <key>spriteSourceSize</key>
                <string>{182,39}</string>
                <key>textureRect</key>
                <string>{{1,156},{182,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_buff5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,38}</string>
                <key>spriteSourceSize</key>
                <string>{148,38}</string>
                <key>textureRect</key>
                <string>{{1,321},{148,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_gold_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{46,16}</string>
                <key>spriteSourceSize</key>
                <string>{50,16}</string>
                <key>textureRect</key>
                <string>{{226,637},{46,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fly_gold_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,16}</string>
                <key>spriteSourceSize</key>
                <string>{50,16}</string>
                <key>textureRect</key>
                <string>{{226,585},{50,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fly_gold_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,16}</string>
                <key>spriteSourceSize</key>
                <string>{46,16}</string>
                <key>textureRect</key>
                <string>{{220,685},{44,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>relive_efx0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{1,723},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relive_efx1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,60}</string>
                <key>spriteSourceSize</key>
                <string>{61,60}</string>
                <key>textureRect</key>
                <string>{{157,767},{61,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>relive_efx2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,54}</string>
                <key>spriteSourceSize</key>
                <string>{55,54}</string>
                <key>textureRect</key>
                <string>{{88,599},{55,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relive_efx3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,50}</string>
                <key>spriteSourceSize</key>
                <string>{49,50}</string>
                <key>textureRect</key>
                <string>{{100,490},{49,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relive_efx4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,44}</string>
                <key>spriteSourceSize</key>
                <string>{43,44}</string>
                <key>textureRect</key>
                <string>{{1,785},{43,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rock100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,246}</string>
                <key>spriteSourceSize</key>
                <string>{112,246}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rocket_f0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,95}</string>
                <key>spriteSourceSize</key>
                <string>{68,95}</string>
                <key>textureRect</key>
                <string>{{151,451},{68,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rocket_f1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,89}</string>
                <key>spriteSourceSize</key>
                <string>{64,89}</string>
                <key>textureRect</key>
                <string>{{1,528},{64,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rocket_f2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,85}</string>
                <key>spriteSourceSize</key>
                <string>{62,85}</string>
                <key>textureRect</key>
                <string>{{1,594},{62,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rocket_f3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,93}</string>
                <key>spriteSourceSize</key>
                <string>{62,93}</string>
                <key>textureRect</key>
                <string>{{151,521},{62,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ys0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{109,448},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ys2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{31,32}</string>
                <key>textureRect</key>
                <string>{{135,733},{31,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ys3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,150}</string>
                <key>spriteSourceSize</key>
                <string>{58,150}</string>
                <key>textureRect</key>
                <string>{{188,115},{58,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect0.png</string>
            <key>size</key>
            <string>{248,829}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d3627011bffbdecee8e450b236ae5c5:f67933b91edcf994c1c35aee0e337fd9:76f05cf677fccd1abf90c34c8514b447$</string>
            <key>textureFileName</key>
            <string>effect0.png</string>
        </dict>
    </dict>
</plist>
