<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{183,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,188}}</string>
                <key>sourceSize</key>
                <string>{183,188}</string>
            </dict>
            <key>cc_efx00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{175,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,100}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>cc_efx10.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,325},{158,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,148}}</string>
                <key>sourceSize</key>
                <string>{158,148}</string>
            </dict>
            <key>cc_efx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,475},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>cc_start_efx0.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,400},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>cc_start_efx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,542},{128,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,126}</string>
            </dict>
            <key>cc_start_efx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,475},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>cc_start_efx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,715},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>cc_start_efx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,665},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>cc_start_efx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,730},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dun0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>effect_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>role0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,670},{58,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{58,66}</string>
            </dict>
            <key>role1.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,720},{58,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{58,66}</string>
            </dict>
            <key>role2.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,657},{56,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,67}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>role3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,670},{65,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,59}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>role4.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,605},{57,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,67}}</string>
                <key>sourceSize</key>
                <string>{57,67}</string>
            </dict>
            <key>role5.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,563},{82,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,92}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>role6.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,664},{54,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,67}}</string>
                <key>sourceSize</key>
                <string>{54,67}</string>
            </dict>
            <key>role7.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,605},{58,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,67}}</string>
                <key>sourceSize</key>
                <string>{58,67}</string>
            </dict>
            <key>role_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{118,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,111}}</string>
                <key>sourceSize</key>
                <string>{118,111}</string>
            </dict>
            <key>role_fire0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>role_fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>role_fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{68,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,96}}</string>
                <key>sourceSize</key>
                <string>{68,96}</string>
            </dict>
            <key>role_fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>shine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,196}}</string>
                <key>sourceSize</key>
                <string>{194,196}</string>
            </dict>
            <key>skill_up0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{58,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,150}}</string>
                <key>sourceSize</key>
                <string>{58,150}</string>
            </dict>
            <key>skill_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,269},{160,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,129}}</string>
                <key>sourceSize</key>
                <string>{160,129}</string>
            </dict>
            <key>tras_jet.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,115},{96,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,113}}</string>
                <key>sourceSize</key>
                <string>{96,113}</string>
            </dict>
            <key>wing.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,187},{186,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,80}}</string>
                <key>sourceSize</key>
                <string>{186,80}</string>
            </dict>
            <key>x_t_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,213},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_all.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5545ebaf797c3a15085090d77078cc0$</string>
            <key>textureFileName</key>
            <string>sp_all.png</string>
        </dict>
    </dict>
</plist>
