<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>best_jl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,50}}</string>
                <key>sourceSize</key>
                <string>{66,50}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>btn_blue_my.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{103,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,50}}</string>
                <key>sourceSize</key>
                <string>{103,50}</string>
            </dict>
            <key>btn_buy_role.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{94,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,56}}</string>
                <key>sourceSize</key>
                <string>{94,56}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>btn_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>btn_result_main.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>btn_result_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{310,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,60}}</string>
                <key>sourceSize</key>
                <string>{310,60}</string>
            </dict>
            <key>btn_role.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,69},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,69},{56,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,61}}</string>
                <key>sourceSize</key>
                <string>{56,61}</string>
            </dict>
            <key>btn_zt.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,69},{56,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,61}}</string>
                <key>sourceSize</key>
                <string>{56,61}</string>
            </dict>
            <key>cj_jl5.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,69},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>darkbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,134},{33,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,41}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
            <key>game_df.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,134},{146,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,42}}</string>
                <key>sourceSize</key>
                <string>{146,42}</string>
            </dict>
            <key>game_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,134},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>game_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,134},{95,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,8}}</string>
                <key>sourceSize</key>
                <string>{95,8}</string>
            </dict>
            <key>game_hp_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,134},{140,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,22}}</string>
                <key>sourceSize</key>
                <string>{140,22}</string>
            </dict>
            <key>gold_icon_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,134},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>menu_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{285,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,70}}</string>
                <key>sourceSize</key>
                <string>{285,70}</string>
            </dict>
            <key>mmm_jl0.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,178},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>pause5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{207,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,60}}</string>
                <key>sourceSize</key>
                <string>{207,60}</string>
            </dict>
            <key>sel_role_k0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{300,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,143}}</string>
                <key>sourceSize</key>
                <string>{300,143}</string>
            </dict>
            <key>shop_icon0.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,312},{74,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,77}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>shop_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,312},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>shop_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>shop_icon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,457},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>shop_icon8.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,457},{84,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,74}}</string>
                <key>sourceSize</key>
                <string>{84,74}</string>
            </dict>
            <key>shop_icon9.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,457},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>shop_k2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,457},{170,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,38}}</string>
                <key>sourceSize</key>
                <string>{170,38}</string>
            </dict>
            <key>title_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{107,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,35}}</string>
                <key>sourceSize</key>
                <string>{107,35}</string>
            </dict>
            <key>ui_cj.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,541},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>ui_fxjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,541},{69,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,20}}</string>
                <key>sourceSize</key>
                <string>{69,20}</string>
            </dict>
            <key>ui_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,541},{36,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>ui_menu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,541},{166,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,40}}</string>
                <key>sourceSize</key>
                <string>{166,40}</string>
            </dict>
            <key>ui_pet_k0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ui_role_head0.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,608},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>ui_role_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,608},{97,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,84}}</string>
                <key>sourceSize</key>
                <string>{97,84}</string>
            </dict>
            <key>ui_role_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,608},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>ui_role_info0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{162,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,75}}</string>
                <key>sourceSize</key>
                <string>{162,75}</string>
            </dict>
            <key>ui_role_info1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,750},{160,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,53}}</string>
                <key>sourceSize</key>
                <string>{160,53}</string>
            </dict>
            <key>ui_role_info2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,750},{162,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,67}}</string>
                <key>sourceSize</key>
                <string>{162,67}</string>
            </dict>
            <key>ui_ts1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,827},{87,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,40}}</string>
                <key>sourceSize</key>
                <string>{87,40}</string>
            </dict>
            <key>yd_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,827},{102,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,37}}</string>
                <key>sourceSize</key>
                <string>{102,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainui.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e9511bf8e64e85945ca30a0ec914bd4$</string>
            <key>textureFileName</key>
            <string>mainui.png</string>
        </dict>
    </dict>
</plist>
